.react-date-picker__wrapper {
  border: none !important;
  /* Remove the inner border */
}

.react-calendar__navigation button {
  // background-color: #000d41 !important;
  border: 1px solid var(--color-bg-input) !important;
}

.react-calendar__navigation button:disabled {
  background-color: var(--color-bg-input) !important;
  color: gray !important;
}

.react-calendar {
  background-color: var(--color-bg-input) !important;
  border-color: var(--color-status-info) !important;
  outline: 0 !important;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.25) !important;
}

.react-calendar__navigation button {
  background-color: var(--color-bg-input) !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__tile:enabled:hover {
  background-color: green !important;
}

.react-calendar__tile--now {
  background-color: #000d41 !important;
}

.react-calendar__tile:disabled {
  background-color: #212431 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: inherit !important;
}

.react-date-picker__calendar-button__icon {
  /* This targets the SVG icon specifically */
  stroke: var(--color-text-primary) !important;
  /* Use !important to ensure it overrides library defaults */
}
