.inputWrapper {
  width: 100%;
  // margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-ui-gray);
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-primary);
  background-color: var(--color-bg-interactive);
  background-clip: padding-box;
  border: 1px solid var(--color-ui-border-light);
  border-radius: 0.375rem;
  cursor: pointer;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &:focus {
    border-color: var(--color-status-info);
    outline: 0;
    box-shadow: 0 0 0 3px var(--color-status-info-soft);
  }

  &.error {
    border-color: var(--color-ui-danger);

    &:focus {
      box-shadow: 0 0 0 3px var(--color-status-error-soft);
    }
  }
}

.errorMessage {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: var(--color-ui-danger);
}
